<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ir.atitec.signalgo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application>

    </application>


    <receiver
        android:name=".util.NetworkManager"
        android:label="NetworkConnection">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
    </receiver>
</manifest>
